*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background:#418fde;
	font-family: 'Arial';
}

.wrap{
	width: 100%;
	max-width: 90%;
	margin: 30px auto;
	background-color:#418fde;
}

ul.tabs{
	width: 100%;
	background: #363636;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

ul.tabs li{
	width: 18%;
}

ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	display: block;
	padding: 20px 0px;
}



ul.tabs li a .tab-text{
	margin-left: 8px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.secciones{
	width: 100%;
	background: #fff;
}

.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: justify;
}
.tabs li:hover {
	background: rgba(21,42,211,1.00);
}
.pronav,.redesnav,.servinav{
	font-size: 30px;
}

@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 1px 0px;

	}

	ul.tabs li a .tab-text{
		display: none;
	}
	ul.tabs li a span {
	    padding-top:5px;
	}
	ul.tabs ol a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 2px;
	}
}
