/*fuentes*/
@import url('https://fonts.googleapis.com/css?family=Oswald:700|Roboto');

/*fin de fuentes */
/*generales*/
html{
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    color: #002663;
    font-family: 'Roboto', sans-serif;
}
.nav-link {
    color: rgba(6, 64, 114, 0.71);
}
.mr-top {
    margin-top: 4%;
}
.mr-top-chicho {
    margin-top: 1%;
}
.mr-bottom {
    margin-bottom: 4%;
}
.color-claro {
    color: #4790db;
}
.titulo {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.link {
    text-decoration: none;
    color: #4790db
}
.link-blanco{
    text-decoration: none;
    color: #ffff
}
.link-blanco a:hover {
    color: #4790db;
    text-decoration: none
}
.link a:hover {
    color: #4790db;
    text-decoration: none
}
.escala:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
   
}
/*fin de generales*/
/*navbar*/
.link-blue-cleaner{
    color: #002663;
}
.link-blue-cleaner:hover{
    background-color: #002663;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.navbar-toggler-icon{
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}
/*fin navbar*/
/*slider*/
.img-slider {
    width: 100%;
    height: calc(90vh - 100px);
    
}

.carousel-caption {
    background-color: rgba(6, 64, 114, 0.71);
    height: 100%;
    padding: 30px 45px;
    text-align: left;
}

.slider-text-1 {
    top: 0;
    left: 0;
    width: 40%;
}

.slider-text-2 {
    top: 0;
    left: 59.64%;
    padding-top: 10%;
    width: 40%;
}

.slider-text-2 p {
    font-size: 1.5rem;
}

.slider-text-2 h1 {
    font-size: 3rem;
}

.slider-text-3 {
    height: 60%;
    font-size: 2.5rem;
}

.slider-text-3 h2 {
    font-size: 3.5rem;
}

.slider-text-3 h4 {
    font-size: 3rem;
}
.titulo_slider-3{
    font-size: 6rem
}
.titulo_slider_3{
    font-size: 6.6rem
}
.carousel-caption h3 {
    color: #ffff;
}

.promo3x2 {
    width: 35%;
    margin: 0 32%;
    ;
}

.btn-primary {
    background-color: #618fd9;
    border-color: #618fd9;

}

.btn-primary:hover {
    background-color: white;
    border-color: #618fd9;
    color: #618fd9;
    -webkit-box-shadow: 2px 3px 22px 2px rgba(0, 0, 0, 0.9);
    box-shadow: 2px 3px 22px 2px rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.o-intemedi{
    position: absolute;
    margin-left: 48%;
    margin-top: 8%;
}
@media (min-width: 320px ) { 
 .slider-text-1{
    font-size: 0.7rem;
     color: white;
}
    .img-slider {
    width: 100%;
    height: auto
       
}
}
@media (min-width: 480px  ) { 
 .slider-text-1{
    font-size: 0.8rem;
     color: white;
}
}
@media (min-width: 600px ) { 
 .slider-text-1{
    font-size: 0.9rem;
     color: white;
}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .slider-text-1{
    font-size: 0.8rem;
     
         
}
    .slider-text-1 h1{
    font-size: 1rem;
     color: white;
         
}
    .slider-text-1 h2{
    font-size: 1.2rem;
     color: white;
         
}
    .img-slider {
    width: 100%;
    height: calc(90vh - 100px);
    
}
    .slider-text-2 p{
        font-size: 1rem;
    }
    .slider-text-2 h1{
        font-size: 1.5rem;
    }
    .slider-text-3 h2{
        font-size: 3.3rem
    }
    .slider-text-3 h4{
        font-size: 1rem
    }
    .titulo_slider_3{
    font-size:3rem
}
    .slider-text-3 p{
        font-size: 0.8rem
    }
    .o-intemedi{
    position: absolute;
    margin-left: 44%;
    margin-top: 5%;
}
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
.slider-text-1{
    font-size:1.1rem;
     
         
}
    .slider-text-1 h1{
    font-size: 1.4rem;
     color: white;
         
}
    .slider-text-1 h2{
    font-size: 1.2rem;
     color: white;
         
}
    .img-slider {
    width: 100%;
    height: calc(90vh - 100px);
    
}
    .slider-text-2 p{
        font-size: 1.2rem;
    }
    .slider-text-2 h1{
        font-size: 1.8rem;
    }
    .slider-text-3 h2{
        font-size: 4.3rem
    }
    .slider-text-3 h4{
        font-size: 1.5rem
    }
    .titulo_slider_3{
    font-size:3rem
}
    .slider-text-3 p{
        font-size: 0.8rem
    }
    .o-intemedi{
    position: absolute;
    margin-left: 44%;
    margin-top: 5%;
}
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
 .slider-text-1{
    font-size: 1rem;
     
         
}
    .slider-text-1 h1{
    font-size: 1.7rem;
     color: white;
         
}
    .slider-text-1 h2{
    font-size: 1.2rem;
     color: white;
         
}
    .img-slider {
    width: 100%;
    height: calc(90vh - 100px);
    
}
    .slider-text-2 p{
        font-size: 1.5rem;
    }
    .slider-text-2 h1{
        font-size:2.2rem;
    }
    .slider-text-3 h2{
        font-size: 4.3rem
    }
    .slider-text-3 h4{
        font-size: 2rem
    }
    .titulo_slider_3{
    font-size:5rem
}
    .slider-text-3 p{
        font-size: 0.6rem
    }
    .o-intemedi{
    position: absolute;
    margin-left: 46%;
    margin-top: 5%;
}
}
@media (min-width: 1601px) { 
 .slider-text-1{
    font-size: 2rem;
     
         
}
    .slider-text-1 h1{
    font-size: 4rem;
     color: white;
         
}
    .slider-text-1 h2{
    font-size: 2rem;
     color: white;
         
}
    .img-slider {
    width: 100%;
    height: calc(90vh - 100px);
    
}
    .slider-text-2 p{
        font-size: 2.2rem;
    }
    .slider-text-2 h1{
        font-size: 3.3rem;
    }
    .slider-text-3 h2{
        font-size: 6.3rem
    }
    .slider-text-3 h4{
        font-size: 3rem
    }
    .titulo_slider_3{
    font-size:6rem
}
    .slider-text-3 p{
        font-size: 0.9rem
    }
    .o-intemedi{
    position: absolute;
    margin-left: 48%;
    margin-top: 8%;
}
}
/*fin slider*/
/*iconos*/
.fas {
    width: 8%;
}

.plancha {
    content: url(../img/iconos/plancha.svg);

}

.hilo {
    content: url(../img/iconos/aguja-con-hilo-para-coser-ropa.svg);
}

.lavadora {
    content: url(../img/iconos/lavadora.svg);
}

.domicilio {
    content: url(../img/iconos/furgoneta.svg)
}

.lista {
    content: url(../img/iconos/lista.svg)
}

.quienes {
    content: url(../img/iconos/quienes-somos.svg)
}

.promo {
    content: url(../img/iconos/promocion.svg);
    border-color: aqua;
}

.blueCleaner {
    content: url(../img/icono.png);
}

/*fin de iconos*/
/*footer*/
footer {
    background-color: #064072;
    color: white;
    width: 100%;
    max-height: 100px;
    height: auto;
}

footer .foot{
   
}
.text-footer{
    font-size: 1.5rem;
     color: white;
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 320px ) { 
 .text-footer{
    font-size: 0.7rem;
     color: white;
}
}
@media (min-width: 480px  ) { 
 .text-footer{
    font-size: 0.8rem;
     color: white;
}
}
@media (min-width: 600px ) { 
 .text-footer{
    font-size: 0.9rem;
     color: white;
}
}
@media (min-width: 800px  ) { 
 .text-footer{
    font-size: 1.5rem;
     color: white;
}
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
     .text-footer{
    font-size: 0.8rem;
     color: white;
}
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
 .text-footer{
    font-size: 1.1rem;
     color: white;
}
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
 .text-footer{
    font-size: 1.05rem;
     color: white;
}
}
@media (min-width: 1601px) { 
 .text-footer{
    font-size: 1.6rem;
   
     color: white;
}
}

footer a:hover {
    color: white;

}
.img-footer{
    border-radius: 5px;
}

@media (max-width: 576px){
.footer-chico {
	display: none;
}
}

/*fin footer*/
/*inicio animacion*/
.animacion {
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

#carrro1 {
    position: absolute;
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 0;
    
    -webkit-animation: movi 10s infinite;
    animation: movi 10s infinite;

}

@-webkit-keyframes movi {
    from {
        margin-left: -50%;
    }

    to {
        margin-left: 101%;
    }
}

@keyframes movi {
    from {
        margin-left: -50%;
    }

    to {
        margin-left: 101%;
    }
}

.animacion-carrito {
    height: 10%;
    width: 100%;
}

/*fin animacion*/
.redes {
    height: 500px;
}

/*Tarjetas*/
.card {
    -webkit-box-shadow: 0px 5px 13px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 5px 13px 0px rgba(50, 50, 50, 0.5);
     overflow: hidden;
}
/*animacion llamada*/
.bannerllamda{
	background: #002663;
	width: 100%;
	height: 25px;
	padding: 30px;
	overflow: hidden;
    -webkit-box-shadow: 1px 5px 15px 5px rgba(0,0,0,0.84);
    box-shadow: 1px 3px 10px 3px rgba(0,0,0,0.54);
    z-index: 35;
}
.llamada{
    margin-top: -1.4%;
	font-size: 40px;
    color: white;
}
.llamada a{
	text-decoration: none;
    color:white
}
.llamada{
 text-shadow: 2px 2px 1px #618fd9;
 white-space: nowrap;
 
 animation-iteration-count: infinite;
 -webkit-animation: animationFrames linear 6s;
 animation: animationFrames linear 6s;
 animation-iteration-count: infinite;
 transform-origin: 50% 50%;
 animation-fill-mode:forwards; /*when the spec is finished*/
 -webkit-animation: animationFrames linear 46s;
 -webkit-animation-iteration-count: infinite;
 -webkit-transform-origin: 50% 50%;
 -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
 -moz-animation: animationFrames linear 6s;
 -moz-animation-iteration-count: infinite;
 -moz-transform-origin: 50% 50%;
 -moz-animation-fill-mode:forwards; /*FF 5+*/
 -o-animation: animationFrames linear 6s;
 -o-animation-iteration-count: infinite;
 -o-transform-origin: 50% 50%;
 -o-animation-fill-mode:forwards; /*Not implemented yet*/
 -ms-animation: animationFrames linear 6s;
 -ms-animation-iteration-count: infinite;
 -ms-transform-origin: 50% 50%;
 -ms-animation-fill-mode:forwards; /*IE 10+*/
}
.llamada:hover{
    color:white;
}


@keyframes animationFrames{
  0% {
    -webkit-transform:  translate(-364px,0px)  rotate(0deg) ;
    transform:  translate(-364px,0px)  rotate(0deg) ;
  }
  100% {
    -webkit-transform:  translate(2000px,0px)  rotate(00deg) ;
    transform:  translate(2000px,0px)  rotate(00deg) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  translate(-364px,0px)  rotate(0deg) ;
  }
  100% {
    -webkit-transform:  translate(2000px,0px)  rotate(0deg) ;
  }
}
/*fin animacion llamada*/
.img-mision{
    width:  20%
}
/*contacto*/
.maincont {
    height: 100%;
}


/* FORMULARIO =================================== */
@media screen and (max-width:813px){
	form.form_contact{
    width: 100%;
}
	.cantact_info{
    width: 0%;
    }
    form.form_contact input[type="submit"]{
    width: 180px;
	background: #002663;
	padding: 10px;
	border: none;
	border-radius: 25px;

    -ms-flex-item-align: end;

    align-self: flex-end;

    color: #fff;
	font-family: 'Arial';
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}

form.form_contact input[type="submit"]:hover{
    background: #002663;
}
}
@media screen and (min-width:814px){
	form.form_contact{
    width: 62%;
}
	.cantact_info{
    width: 38%;
    }
    form.form_contact input[type="submit"]{
    width: 180px;
	background: #002663;
	padding: 10px;
	border: none;
	border-radius: 25px;

    -ms-flex-item-align: end;

    align-self: flex-end;

    color: #fff;
	font-family: 'Arial';
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}

form.form_contact input[type="submit"]:hover{
    background: #002663;
}
}

@media screen and (max-width:813px){
    form.form_contact input[type="submit"]{
    width: 180px;
	background: #002663;
	padding: 10px;
	border: none;
	border-radius: 25px;

    -ms-flex-item-align: end;

    align-self: flex-end;

    color: #fff;
	font-family: 'Arial';
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}

form.form_contact input[type="submit"]:hover{
    background: #002663;
}

}
.form_wrap{
    width: 100%;
    height: 470px;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	margin-bottom: 20px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/

.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #002663;
    opacity: 0.9;
}

.cantact_info{

    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	overflow: hidden;
    background-image: url('../fondo.jpg');
    background-size: cover;
    background-position: center center;

}

.info_title,
.info_items{
    position: relative;
    z-index: 0;
    color: #fff;
}

.info_title{
    margin-bottom: 20px;
}

.info_title span{
    font-size: 80px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2{
    font-size: 20px;
    text-align: center;
}

.info_items p{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span{
    font-size: 45px;

    margin-right: 10px;
}

.info_items p:nth-child(2) span{
    font-size: 45px;
    margin-right: 15px;
    margin-left: 4px;
}


/* Formulario de contacto*/
form.form_contact{

    padding: 10px 20px;
}

form.form_contact h2{
	font-size: 20px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 30px;
}

form.form_contact .user_info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact input,
form.form_contact textarea{
    width: 80%;
    padding: 8px 0px 2px;
    margin-bottom: 10px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Arial';
	color: #5A5A5A;
	font-size: 20px;
	font-weight: 400;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;

}

form.form_contact input[type="submit"]{
    width: 180px;
	background: #002663;
	padding: 10px;
	border: none;
	border-radius: 25px;

    -ms-flex-item-align: end;

    align-self: flex-end;

    color: #fff;
	font-family: 'Arial';
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}

form.form_contact input[type="submit"]:hover{
    background: #002663;
}

/* Ventana de errores*/
.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mensaje_modal{
    background: #fff;
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
    font-family: 'Ubuntu';
	font-size: 20px;
	font-weight: 400;
}

.mensaje_modal h3:after{
    content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #C5C5C5;
	margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-size: 20px;
    color: #606060;
}

.mensaje_modal p:before{
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}

#btnClose{
    display: inline-block;
	padding: 3px 10px;
	margin-top: 10px;

	background: #E25151;
	color: #fff;
	border: 2px solid #B14141;
	cursor: pointer;

	float: right;
}

/* MENSAJE EXITOSO*/

.mensaje-exito{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mensaje-exito h1{
    font-size: 35px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.mensaje-exito a{
    display: block;
    padding: 10px 30px;
    background: #4091EC;
    text-decoration: none;
    color: #fff;
}

.mensaje-exito a:hover{
    background: #3371B6;
}
/*redes sociales*/
.social-bar {
	position: fixed;
	left: 0;
	top: 20%;
	font-size: 2.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	z-index: 103;
    text-decoration: none;
}  
.social-bar a:hover{
        color: white;
    text-decoration: none;
    }
.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.icon2{
    color: white;
	text-decoration: none;
   	padding-top: .7rem;
    padding-bottom: .7rem;
    padding-right:2.55rem;
    padding-left: 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.fa-facebook-square {
	background: #2E406E;
    text-decoration: none;
}
.fa-twitter-square {
	background: #339DC5;
    text-decoration: none;
}
.fa-whatsapp-square {
	background: #4dc247;
    text-decoration: none;
}
.fa-whatsapp {
	background: #4dc247;
    text-decoration: none;
}
.fa-instagram {
	background: linear-gradient(200deg, #d047d1, #ff0000,#ffff00);
    text-decoration: none;
}
.fa-phone-volume{
    background: #002663;
    text-decoration: none;    
}
.fa-mobile-alt{
   background: #4790db;
   text-decoration: none; 
}
.icon2:first-child {
	border-radius: 0 1rem  0 0;
}
.icon:last-child {
	border-radius: 0 0  1rem 0;
}
.icon:hover{
	padding-right: 3rem;
	border-radius:0 1rem 1rem 0;
	-webkit-box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}
.icon2:hover{
	padding-right: 4.5rem;
	border-radius:0 1rem 1rem 0;
	-webkit-box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}
@media  (max-width: 767px) {
    .social-bar{
	display: 20%;
}

}
.quienes-text {
	font-size: 1.5rem;
}
/*cambios SEO pag de inicio */
.h1-exlencia{
    margin-top: 10%;
    text-align: center;
    text-transform: uppercase;
}
.parrafo-exelencia{
    text-align: justify;
    font-size: 1.2rem;
    margin-bottom: 18%;
}
.boton-historia{
    text-align: center;
}
.contenedor-imagen{
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconos-exelencia{
    width: 30%;
}